<style>
    .footer {
        text-align: center;
    }

    .footer-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #000;
    }
</style>

<div class="footer-container">
    <footer class="footer">
        <div>
            <p style="color: rgb(235, 143, 23)">© <script>document.write(new Date().getFullYear())</script>2025 Made with &lt;/&gt; and ❤</p>
        </div>
     </footer>
</div>