<style>
   h1 {
    padding-top: 50px;
    color: rgb(134, 131, 126);
   }

   .about {
    width: 600px;
    margin: 0 auto;
   }

</style>

<app-navbar></app-navbar>

<div style="background-color: #F2F2F2;">
    <h1 style="text-align: center;">Sistema de Cadastro de Parceiros e Empresas Externa.</h1>
<div class="about">
    <p >Projeto desenvolvido com <a href="https://angular.dev/" target="_blank">Angular</a> na versão 15.</p>

    <p>Aplicação dividida em partes com a implementação de Micro-Front-ends.</p>

    <p>Para o uso de Micro-Front-ends é utilizado o <a href="https://module-federation.io/" target="_blank">Module Federation</a></p>

    <p>Implementação e uso com <a href="https://www.docker.com/" target="_blank">Docker</a></p>

    <p>Uso de configurações de servidor com <a href="https://nginx.org/" target="_blank">Nginx</a></p>

    <p>Implementação de Testes Unitário/Integração via <a href="https://karma-runner.github.io" target="_blank">Karma</a></p>

    <p>Implementação de Testes Automatizado via <a href="https://www.cypress.io" target="_blank">Cypress</a></p>

    <p>Implementação com <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></p>

    <p>Uso de componentes com <a href="https://material.angular.io/" target="_blank">Angular Material</a></p>

    <p>Uso de componentes com o <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></p>
</div>
</div>


<app-footer></app-footer>
