<style>
   h1 {
    padding-top: 50px;
    color: rgb(134, 131, 126);
   }

   .about {
    width: 600px;
    margin: 0 auto;
   }

</style>

<app-navbar></app-navbar>

<div style="background-color: #F2F2F2;">
    <h1 style="text-align: center;">Sistema desenvolvido com foco no cadastro de Parceiros e Empresas Externa.</h1>
<div class="about">
    <p >Projeto feito utilizando utilizando o framework Angular na versão 15.</p>

    <p>Implementação de componentes com o Angular Material.</p>

    <p>Implementação de componentes com o Bootstrap.</p>

    <p>Aplicação dividida em partes com a utilização de Micro-Front-ends.</p>
</div>
</div>


<app-footer></app-footer>
