<style>
  table {
    width: 100%;
  }

  .editIcon, .removeIcon {
    cursor: pointer;
  }

  input {
    height: 30px;
    border: none;
    background: transparent;
  }

  input:focus {
    outline: none;
  }

  tr.readonly {
    background-color: #eeeeee;
  }
</style>

<app-navbar></app-navbar>

<div class="edit-users mat-elevation-z8" style="padding-top: 200px; background-color: #F2F2F2;">
    <table *ngIf="userInfo" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">
          <input [formControl]="element.validator.get('name')" type="text" matInput [readonly]="!element.editable">
        </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">
          <input [formControl]="element.validator.get('description')" type="text" matInput [readonly]="!element.editable">
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-icon *ngIf="!element.editable" class="editIcon" color="primary" style="margin-right: 20px;" (click)="editar(element)">edit</mat-icon>
          <mat-icon style="cursor: pointer; margin-right: 20px;" *ngIf="element.editable" (click)="confirmarEdicao(element)">check</mat-icon>
          <mat-icon class="removeIcon" color="warn" (click)="cancelarDeletar(element, i)">{{ element.editable ? 'close' : 'delete' }}</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.editable ? 'editable' : 'readonly'"></tr>
    </table>
    
    <div *ngIf="totalPages > 1" class="pagination-controls" style="background-color: #fff; padding: 15px;">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage <= 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages">Próximo</button>
    </div>
  </div>

<app-footer></app-footer>