
<style>
    h1 {
        margin-left: 50px;
        float: left;
        margin-top: 10px;
        flex: 1;
    }

    .header-container {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #000;
        display: flex;
    }

    .menu {
        flex: 0.6;
    }

    .menu button {
       color: #fff;
       margin-top: 10px;
    }

    .menu button:hover {
        color: rgb(235, 143, 23);
    }

    nav a {
        cursor: pointer;
    }

</style>

<!-- <div class="header-container">
    <h1 style="color: rgb(235, 143, 23);" (click)="goHome()">
        <span style="cursor: pointer;">Teddy Open Finance</span>
    </h1>

    <div *ngIf="userInfo" class="menu">
        <button mat-button [matMenuTriggerFor]="aboveMenu">Parceiros</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item routerLink="cadastro-parceiros">Cadastrar parceiro</button>
            <button mat-menu-item routerLink="/listagem-parceiros">Listar todos os parceiros</button>
        </mat-menu>
    
        <button mat-button [matMenuTriggerFor]="belowMenu">Empresa Externa</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Cadastrar empresa externa</button>
            <button mat-menu-item>Listar as empresa externas</button>
        </mat-menu>
    
        <button mat-button (click)="aboutApp()">Sobre a aplicação</button>
    
        <button mat-button (click)="logout()">Sair</button>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand active" (click)="goToPage('/home')" style="margin: 10px; color: rgb(235, 143, 23);">Teddy Open Finance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div *ngIf="userInfo" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-link ms-sm-auto">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Parceiros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="goToPage('/cadastro-parceiros')">Cadastrar parceiro</a>
            <a class="dropdown-item" (click)="goToPage('/listagem-parceiros')">Listar todos os parceiros</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Empresa Externa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="goToPage('/cadastro-parceiros')">Cadastrar empresa externa</a>
            <a class="dropdown-item" (click)="goToPage('/listagem-empresas')">Listar as empresa externas</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="goToPage('/about')">Sobre a aplicação</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </nav>